extends layout.pug

block append styles
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css")

block append scripts
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js")
    script(type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
    script(src="/socket.io/socket.io.js")

block content
    script.
        $(document).ready(() => {
            var table = $("#table1").DataTable({
                "ajax": "/devices/api",
                "createdRow": (row, data, index) => {
                    if (data[1] != null) {
                        $("td", row).eq(1).empty();
                        var div = $("<div class=\"btn-group\" role=\"group\" aria-label=\"...\" />").appendTo($("td", row).eq(1));

                        if (data[1]["s"] !== 0) {
                            div.append("<button class=\"btn btn-default disabled\" > Reporting period: " + data[1]["s"] + " s</button>");

                        }

                        if (data[1]["r"] !== 0) {
                            var reads = data[1]["r"];

                            for (var i in reads) {
                                div.append("<a role=\"button\" class=\"btn btn-success\" href=\"/device/" + data[0] + "/" + reads[i] + "\">" + reads[i] + "</a>");
                            }
                        }
                        //TODO: should be !=
                        if (data[1]["w"].length == 0) {
                            //var writes = data[1]["w"];
                            var writes = ["switch"];

                            for (var i in writes) {
                                div.append("<a role=\"button\" class=\"btn btn-info\" href=\"/device/" + data[0] + "/" + writes[i] + "\">" + writes[i] + "</a>");
                            }
                        }
                        
                        var activity = $("td", row).eq(3);
                        activity.empty()
                        activity.append(moment(data[3]).fromNow())
                    
                        $("#table1").dataTable().api().rows().invalidate("dom").draw();

                    }
                }
            });
            (() => {
                function redraw(table) {
                    table.ajax.reload();
                }

                setInterval(redraw, 5000);
            })();
            
        });
    .row
        .col-md-12
            table(id="table1" class="table table-hover table-bordered" width="100%" cellspacing="0")
                thead
                    tr
                        td Device ID
                        td Provided functions
                        td Location
                        td Last activity
