extends layout.pug

block append styles
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css")

block append scripts
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js")
    script(src="/socket.io/socket.io.js")

block content
    script.
        $(document).ready(() => {
            $("#table1").DataTable();
        });
    .row
        .col-md-12
            table(id="table1" class="table table-striped table-bordered" width="100%" cellspacing="0")
                thead
                    tr
                        th #
                        td Device ID
                        td Location
                        td Provided functions
                        td Last active
                        td Status
                tbody
                    tr
                        th(scope="row") 1
                        td 211
                        td biuro
                        td 
                            ul
                                li: a(href="/device/211/temperature") temperature                            
                                li: a(href="/device/211/humidity") humidity                            
                                li: a(href="/device/211/voltage") voltage                            
                        td 34 seconds ago
                        td
                            span(class="label label-success") Ok
                    tr
                        th(scope="row") 2
                        td 2
                        td biuro
                        td 
                            ul
                                li: a(href="/device/2/temperature") temperature                            
                                li: a(href="/device/2/humidity") humidity                            
                                li: a(href="/device/2/voltage") voltage                            
                        td 34 seconds ago
                        td
                            span(class="label label-danger") Error
                    tr
                        th(scope="row") 3
                        td 87
                        td biuro
                        td 
                            ul
                                li: a(href="/device/87/temperature") temperature                            
                                li: a(href="/device/87/humidity") humidity                            
                                li: a(href="/device/87/voltage") voltage                            
                        td 34 seconds ago
                        td
                            span(class="label label-default") Offline
