extends layout.pug

block append styles
    link(rel="stylesheet" type="text/css" href="/bower_components/datatables/media/css/dataTables.bootstrap.min.css")

block append scripts
    script(type="text/javascript" charset="utf8" src="/bower_components/datatables/media/js/jquery.dataTables.min.js")
    script(type="text/javascript" charset="utf8" src="/bower_components/datatables/media/js/dataTables.bootstrap.min.js")
    script(type="text/javascript" charset="utf8" src="/bower_components/moment/min/moment.min.js")

block content
    script.
        $(document).ready(() => {
            $("#table1").DataTable({
                "ajax": "/devices/api",
                "createdRow": (row, data, index) => {
                    if (data[1] != null) {
                        $("td", row).eq(1).empty();
                        var div = $("<div class=\"btn-group\" role=\"group\" aria-label=\"...\" />").appendTo($("td", row).eq(1));

                        if (data[1]["s"] !== 0) {
                            div.append("<button class=\"btn btn-default disabled\" > Reporting period: " + data[1]["s"] + " s</button>");

                        }

                        if (data[1]["r"] !== 0) {
                            var reads = data[1]["r"];

                            for (var i in reads) {
                                div.append("<a role=\"button\" class=\"btn btn-success\" href=\"/device/" + data[0] + "/" + reads[i] + "\">" + reads[i] + "</a>");
                            }
                        }
                        //TODO: implement possibility to control devices from webui
                        if (data[1]["w"].length != 0) {
                            var writes = data[1]["w"];

                            for (var i in writes) {
                                div.append("<a role=\"button\" class=\"btn btn-info\" href=\"/device/" + data[0] + "/" + writes[i] + "\">" + writes[i] + "</a>");
                            }
                        }
                        
                        var activity = $("td", row).eq(3);
                        var last_measurement_time = moment(data[3])
                        var time_from_last_activity = last_measurement_time.fromNow()
                        activity.empty()
                        activity.append(time_from_last_activity)

                        var status = $("td", row).eq(4);
                        status.empty()
                        if (last_measurement_time.diff(moment(), "hours") < -1) {
                            status.append("<span class=\"label label-danger\">Inactive</span>");
                        } else {
                            status.append("<span class=\"label label-success\">Ok</span>");
                        }
                    
                        $("#table1").dataTable().api().rows().invalidate("dom").draw();

                    }
                }
            });
            (() => {
                setInterval($("#table1").dataTable().api().ajax.reload, 5000);
            })();
            
        });
    .row
        .col-md-12
            table(id="table1" class="table table-hover table-bordered" width="100%" cellspacing="0")
                thead
                    tr
                        td Device ID
                        td Provided functions
                        td Location
                        td Last activity
                        td Status
