extends layout.pug

block append styles
    link(rel="stylesheet" src="/dg/dygraph.css")

block append scripts
    script(type="text/javascript" src="/dg/dygraph.js")
    script(src="/socket.io/socket.io.js")

block content
    .row
        .col-md-1
            ul(class="nav nav-pills nav-stacked")
                li(role="presentation" class="active")
                    a(href="#") Temperature
                li(role="presentation")
                    a(href="#") Humidity
                li(role="presentation")
                    a(href="#") Voltage
        .col-md-11
            div(id="graphdiv3" style="width: 100%;")
            div
                form(class="form-inline" id="type_selection_form" action="")
                    .form-group
                        label(for="sensor_id") Sensor ID
                        select(class="form-control" name="sensor_id" id="sid")
                    .form-group
                        label(for="measurement_id") Measurement ID
                        select(class="form-control" name="measurement_id" id="mid")
                            option(value="temperature") temperature
                            option(value="humidity") humidity
                            option(value="voltage") voltage
                    input(type="submit" id="modify_view" value="Show" class="btn btn-primary")
    script(src="/javascripts/get_device_data.js")
