extends layout.pug

mixin measurement_menu_element(measurement, actual, text)
    if measurement == actual
        li(role="presentation" class="active")
            a(href="../../device/" + device_id + "/" + measurement)= text
    else
        li(role="presentation")
            a(href="../../device/" + device_id + "/" + measurement)= text



block append styles
    link(rel="stylesheet" src="/dg/dygraph.css")

block append scripts
    script(type="text/javascript" src="/dg/dygraph.js")
    script(src="/socket.io/socket.io.js")

block content
    script(src="/javascripts/get_device_data.js")
    script.
        $(document).ready( () => {
            ask_for_data(socket, #{device_id}, '#{measurement_id}');
        });
    .row
        .col-md-12
            ul(class="nav nav-pills")
                +measurement_menu_element("temperature", measurement_id, "Temperature")
                +measurement_menu_element("humidity", measurement_id, "Humidity")
                +measurement_menu_element("voltage", measurement_id, "Voltage")
    .row
        .col-md-12
            div(id="graphdiv3" style="width: 100%;")
