extends layout.pug

block append styles
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css")

block append scripts
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js")
    script(src="/socket.io/socket.io.js")

block content
    script.
        $(document).ready(() => {
            $("#table1").DataTable({
                "ajax": "/devices/api",
                "createdRow": (row, data, index) => {
                    if (data[1] !== "unknown") {
                        $("td", row).eq(1).empty();
                        $("td", row).eq(1).append(JSON.stringify(data[1]));
                    }
                }
            });
        });
    .row
        .col-md-12
            table(id="table1" class="table table-hover table-bordered" width="100%" cellspacing="0")
                thead
                    tr
                        td Device ID
                        td Provided functions
                        td Location
