extends layout.pug

block append styles

block append scripts
    script(src="/socket.io/socket.io.js")

block content
    .row
        .col-md-12
            .table-responsive
                table(class="table table-striped")
                    thead
                        tr
                            th #
                            td Device ID
                            td Device name
                            td Location
                            td Provided functions
                            td Last active
                            td Status
                    tbody
                        tr
                            th(scope="row") 1
                            td
                                a(href="/device/211") 211
                            td unnamed
                            td biuro
                            td temperature; humidity; voltage
                            td 34 seconds ago
                            td
                                span(class="label label-success") Ok
                        tr
                            th(scope="row") 2
                            td
                                a(href="/device/2") 2
                            td unnamed
                            td biuro
                            td temperature; humidity; voltage
                            td 34 seconds ago
                            td
                                span(class="label label-danger") Error
                        tr
                            th(scope="row") 3
                            td
                                a(href="/device/87") 87
                            td unnamed
                            td biuro
                            td temperature; humidity; voltage
                            td 34 seconds ago
                            td
                                span(class="label label-default") Offline
