mixin navbarelement(title, text, ref)
    if title == text
        li(class="active")
            a(href=ref)= text
    else
        li
            a(href=ref)= text

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        - var page_title = "Radio Sensor NET :: " + title;
        title= page_title

        block styles
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        
        block scripts
            script(src="http://code.jquery.com/jquery-1.12.4.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    body
        nav(class="navbar navbar-default" role="navigation")
            .container-fluid
                .navbar-header
                    a(class="navbar-brand" href="#") Radio Sensor NET
                .navbarlinks    
                    ul(class="nav navbar-nav")
                        +navbarelement(title, "Dashboard", "/")
                        +navbarelement(title, "Locations", "/locations")
                        +navbarelement(title, "Devices", "/devices")

        .container-fluid
            block content
