mixin navbarelement(title, text, ref)
    if title == text
        li(class="active")
            a(href=ref)= text
    else
        li
            a(href=ref)= text

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        - var page_title = "Radio Sensor NET :: " + title;
        title= page_title

        block styles
            link(rel="stylesheet" href="/jsmod/bootstrap/dist/css/bootstrap.min.css")
        
        block scripts
            script(src="/jsmod/jquery/dist/jquery.min.js")
            script(src="/jsmod/bootstrap/dist/js/bootstrap.min.js")
    body
        nav(class="navbar navbar-default" role="navigation")
            .container-fluid
                .navbar-header
                    a(class="navbar-brand" href="/") Radio Sensor NET
                .navbarlinks    
                    ul(class="nav navbar-nav")
                        +navbarelement(title, "Devices", "/devices")

        .container-fluid
            block content
